.topBar {
  background: #F2F2F2;
}
.topBar--video-opened {
  background: #333333;
}

.topBar__title {
  color: #333333;
}
.topBar--video-opened__title {
  color: #E0E0E0;
}

.topBar__avatar {
  background-color: #F1C40F;
}
/* TODO move color values to variables */
