.content {
    overflow: hidden;
}

.card {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.cardImage {
    background-color: rgba(0,0,0,0.12);
    flex-grow: 1;
}